/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}

:root {
  --text-color--primary: #fff;
  --text-color--secondary: rgb(31, 31, 31);
  --back-color--primary: #fff;
  --back-color--secondary: rgb(227, 217, 198);
  --back-color-footer: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
}

a {
  text-decoration: none;
}

/* Typography */

@font-face {
  font-family: "SangbleuSans";
  src: url("./fonts/sangbleu-sans-regular-webfont.woff2") format("woff2"),
    url("./fonts/sangbleu-sans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GillSans Bold";
  src: url("./fonts/gill_sans_bold-webfont.woff2") format("woff2"),
    url("./fonts/gill_sans_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GillSans Medium";
  src: url("./fonts/gill_sans_medium-webfont.woff2") format("woff2"),
    url("./fonts/gill_sans_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GillSans Regular";
  src: url("./fonts/gill_sans-webfont.woff2") format("woff2"),
    url("./fonts/gill_sans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tiempos";
  src: url("./fonts/tiemposheadline-regular-webfont.woff2") format("woff2"),
    url("./fonts/tiemposheadline-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3.8rem;
  color: #fff;
}

h2 {
  font-size: 3.8rem;
}

h2 .small {
  font-size: 3.6rem;
}

h3 {
  font-size: 1.4rem;
  color: rgb(31, 31, 31);
}

h4 {
  font-size: 1.6rem;
  color: rgb(31, 31, 31);
}

@media (min-width: 992px) {
  h1 {
    font-size: 7.2rem;
  }
  h2 {
    font-size: 7.2rem;
  }
}

@media (min-width: 1200px) {
  h2 .small {
    font-size: 4.6rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 2rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 9.2rem;
  }
  h2 {
    font-size: 9.2rem;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0 auto;
  text-align: center;
}

/* Icons */
.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon--large {
  width: 172px;
}

.icon--white {
  fill: #fff;
}

.icon-back {
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  display: inline-flex;
  height: 52px;
  justify-content: center;
  transition-delay: 0.1s;
  transition: 0.3s;
  width: 52px;
}

.icon-back:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

/* Buttons */
.btn {
  background-color: var(--back-color--primary);
  border-radius: 30px;
  border: 0;
  color: var(--text-color--secondary);
  cursor: pointer;
  font-family: "SangbleuSans", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
  transition: 0.3s;
  white-space: nowrap;
}

.btn:hover {
  background-color: var(--back-color--secondary);
}

@media screen and (min-width: 992px) {
  .btn {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1400px) {
  .btn {
    font-size: 2rem;
  }
}

/* Links */
.link {
  color: var(--text-color--primary);
  font-family: "SangbleuSans", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  position: relative;
}

.link::before {
  background-color: #a9ad65;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition-delay: 0.1s;
  transition: 0.3s;
  width: 0;
}

.link:hover::before {
  width: 100%;
}

.link::after {
  background-color: #fff;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  transition: 0.3s;
  width: 100%;
}

.link:hover::after {
  width: 0;
}

@media screen and (min-width: 992px) {
  .link {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1400px) {
  .link {
    font-size: 2rem;
  }
}

/* Header */
.logo {
  margin-top: 16px;
}

.header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.header-extra {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .logo {
    margin-top: 0;
  }

  .header {
    align-items: center;
  }

  .header-extra {
    flex-direction: row;
  }
}
