<section class="block-cards-extra">
    <h2>DISCOVER A LIFE EXTRAORDINARY</h2>
    <p class="card-extra-info">
      Click on an Interior Mood below to step through The Portal and into A
      Life Extraordinary.
    </p>
    <div class="grid grid-cols-extra">
      <article class="card-extra">
        <img
          class="card-extra__image"
          src="./images/CardsExtra/scene1.png"
          alt=""
        />
        <h4>Beauty Blooms</h4>
      </article>

      <article class="card-extra">
        <img
          class="card-extra__image"
          src="./images/CardsExtra/scene2.png"
          alt=""
        />
        <h4>Defy Gravity</h4>
      </article>

      <article class="card-extra">
        <img
          class="card-extra__image"
          src="./images/CardsExtra/scene3.png"
          alt=""
        />
        <h4>Divine Dreams</h4>
      </article>

      <article class="card-extra">
        <img
          class="card-extra__image"
          src="./images/CardsExtra/scene4.png"
          alt=""
        />
        <h4>Paper Play</h4>
      </article>
    </div>
  </section>