<div class="footer">
    <ul class="list list--large">
      <li><a href="#">Store Locator</a></li>
      <li><a href="#">Material Library</a></li>
      <li><a href="#">Shipping&Returns</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Newsletter</a></li>
      <li><a href="#">Press Area</a></li>
      <li><a href="#">Jobs</a></li>
    </ul>


    <div class="sub-footer grid grid-cols2">
      <div class="icon-list">
        <div class="icon-back">
          <svg class="icon icon--white">
            <use xlink:href="./icons/spriteSocial.svg#social1"></use></svg
          >
        </div>
        <div class="icon-back">
          <svg class="icon icon--white">
            <use xlink:href="./icons/spriteSocial.svg#social2"></use></svg
          >
        </div>
        
        <div class="icon-back">
          <svg class="icon icon--white">
            <use xlink:href="./icons/spriteSocial.svg#social3"></use></svg
          >
        </div>
        
        <div class="icon-back">
          <svg class="icon icon--white">
            <use xlink:href="./icons/spriteSocial.svg#social4"></use></svg
          >
        </div>
        
        <div class="icon-back">
          <svg class="icon icon--white">
            <use xlink:href="./icons/spriteSocial.svg#social5"></use></svg
          >
        </div>
        <div class="icon-back">
          <svg class="icon icon--white">
          <use xlink:href="./icons/spriteSocial.svg#social6"></use>
        </svg>
        </div>
      </div>

      <ul class="list list--small">
        <li><a href="#">Disclaimer</a></li>
        <li><a href="#">Cookie Policy</a></li>
        <li><a href="#">General Conditions</a></li>
        <li><a href="#">Primacy Statements</a></li>
        <li>&copy;2023 Moooi</li>
      </ul>
    </div>
    
  </div>