<div class="header">
  <div class="extra-space">
    <span class="icon-back" title="Search with voice">
      <svg class="icon icon--white">
        <use xlink:href="./icons/spriteHeader.svg#microphone"></use>
      </svg>
    </span>
  </div>

  <svg class="icon icon--white icon--large logo">
    <use xlink:href="./icons/spriteHeader.svg#logo"></use>
  </svg>

  <div class="header-extra">
    <span class="icon-back" title="Search">
      <svg class="icon icon--white">
        <use xlink:href="./icons/spriteHeader.svg#search"></use></svg
    ></span>
    <span class="icon-back" title="Shopping bag">
      <svg class="icon icon--white">
        <use xlink:href="./icons/spriteHeader.svg#bag"></use></svg
    ></span>
    <span class="icon-back" title="Create mood board">
      <svg class="icon icon--white">
        <use xlink:href="./icons/spriteHeader.svg#board"></use></svg
    ></span>
  </div>
</div>