<svg class="icon">
  <use xlink:href="./icons/spriteHeader.svg#bag"></use></svg
><svg class="icon">
  <use xlink:href="./icons/spriteHeader.svg#board"></use></svg
><svg class="icon">
  <use xlink:href="./icons/spriteHeader.svg#logo"></use></svg
><svg class="icon">
  <use xlink:href="./icons/spriteHeader.svg#microphone"></use></svg
><svg class="icon">
  <use xlink:href="./icons/spriteHeader.svg#search"></use>
</svg>

<svg class="icon">
  <use xlink:href="./icons/spriteSocial.svg#social1"></use></svg
><svg class="icon">
  <use xlink:href="./icons/spriteSocial.svg#social2"></use></svg
><svg class="icon">
  <use xlink:href="./icons/spriteSocial.svg#social3"></use></svg
><svg class="icon">
  <use xlink:href="./icons/spriteSocial.svg#social4"></use></svg
><svg class="icon">
  <use xlink:href="./icons/spriteSocial.svg#social5"></use></svg
><svg class="icon">
  <use xlink:href="./icons/spriteSocial.svg#social6"></use>
</svg>

<span class="icon-back">
  <svg class="icon icon--white">
    <use xlink:href="./icons/spriteHeader.svg#bag"></use>
  </svg>
</span>
