<ul class="list list--large">
    <li><a href="#">Store Locator</a></li>
    <li><a href="#">Material Library</a></li>
    <li><a href="#">Shipping&Returns</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Newsletter</a></li>
    <li><a href="#">Press Area</a></li>
    <li><a href="#">Jobs</a></li>
  </ul>

  <ul class="list list--small">
    <li><a href="#">Disclaimer</a></li>
    <li><a href="#">Cookie Policy</a></li>
    <li><a href="#">General Conditions</a></li>
    <li><a href="#">Primacy Statements</a></li>
    <li>&copy;2023 Moooi</li>
  </ul>

  <ul class="list list--menu menu--large">
    <li><a href="#">Products</a></li>
    <li><a href="#">Stories</a></li>
    <li><a href="#">Gift guide</a></li>
  </ul>

  <ul class="list list--menu menu--small">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Store Locator</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Contact</a></li>
    </ul>