<div class="panel">
    <div class="input-group">
      <svg class="icon icon--white">
        <use xlink:href="./icons/spriteHeader.svg#search"></use>
      </svg>
      <input
        type="text"
        class="input"
        placeholder="Search for products, stories,..."
      />
      <svg class="icon icon--white">
        <use xlink:href="./icons/spriteHeader.svg#microphone"></use>
      </svg>
    </div>

    <ul class="list list--menu menu--large">
      <li><a href="#">Products</a></li>
      <li><a href="#">Stories</a></li>
      <li><a href="#">Gift guide</a></li>
    </ul>

    <ul class="list list--menu menu--small">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Store Locator</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>